*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: start;
    align-items: start;
    min-height:100vh;
    padding-top:20px;


}

main {
    display: flex;
    flex-direction: column;
    gap:20px;

}

#list {
    display: flex;
    flex-direction: column;
    gap:40px;
}
